body {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF url("../img/brasil.jpg");
}

div {
  border: 1px solid #00f;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}

button{
	border: 3px solid #00f;
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}

input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}

#container{
	width: 900px;

}

#resposta{
	 width: 400px;
}
.titulo{
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 0, 0);
	font-size: 36px;
  
}

.texto{
	margin: 15px;
  
}


